@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.home-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    background-image: url('../../images/concrete.jpeg');
    height: calc(100vh - 80px);
    font-size: 100px;
    font-family: 'Permanent Marker', cursive, Arial, Helvetica, sans-serif;
   
    color: rgba(27, 95, 86, 0.842);
}