@import url('https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap');

.home-bg {
    background-image: url('../../images/marble.jpeg');
    height: calc(100vh - 80px);
    font-size: 100px;
    font-family: 'Birthstone Bounce', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(117, 107, 92, 0.842);
}