.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
    input, h2, p {
        font-family: $font-prim;
        margin-bottom: 20px;
        width: 300px;
    }
    input {
        padding: 5px 10px;
        border: none;
        @include borders 
    }
    .submit {
        @include button
    }
 
}