.navbar {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a {
        padding: 0 20px;
        color: black;
        text-decoration: none;
  
    }
    .active {
        color: #ffc107;
    }
    
}
