.user {
    width: 70vw;
    margin: 40px 0 40px 40px;
}
.user-info {
    width: 30vw;
    height: 100vh;
    margin: 108px 40px 40px 40px;
    padding: 40px;
    background-color: rgba(222, 184, 135, 0.438);
    border-radius: 5px;
}