.user {
    width: 70vw;
    margin: 40px 0 40px 40px;
}
.user-info {
    width: 30vw;
    height: max-content;
    margin: 130px 40px 40px 40px;
    padding: 40px;
    background-color: $yellow-prim;
    position: sticky;
    top: 130px;
    div{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        flex-wrap: wrap;
    }
}