
.write-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    .write-title{
        font-family: 'Karla', sans-serif;
        width: 60%;
        margin: 20px 0;
        padding: 20px
    };
    .write-text{
        font-family: 'Karla', sans-serif;
        width: 100%;
        height: 60%;
        margin: 20px 0;
        padding: 20px;
        display: flex;
        justify-content: flex-start;
    }
}